
<div class="flex flex-column align-items-center">
  <h2>Source System Details</h2>
  <div >
    <label class="block text-sm">Source Url <span class="asterik">*</span></label>
    <input type="text" pInputText />
  
  </div>

    
  <div>
    <label class="block text-sm">Username <span class="asterik">*</span></label>
    <input  type="text" pInputText />
  
  </div>
  <div>
    <label class="block text-sm">API Token <span class="asterik">*</span></label>
    <input   type="text" pInputText />
  
  </div>
</div>
