<!-- <div class="flex flex-column align-items-center">
  <h2>Source System Details</h2>
  <div class="flex flex-column w-4 pb-2">
    <label class="block text-sm pb-1">Source Url&nbsp;<span class="asterik">*</span></label>
    <input type="text" pInputText />

  </div>

  <div class="flex flex-column w-4 pb-2">
    <label class="block text-sm pb-1">Username&nbsp;<span class="asterik">*</span></label>
    <input type="text" pInputText />

  </div>
  <div class="flex flex-column w-4 pb-2">
    <label class="block text-sm pb-1">API Token&nbsp;<span class="asterik">*</span></label>
    <input type="text" pInputText />
  </div>
  <h2>Map Custom Fields</h2>
  <div class="flex flex-column w-4 pb-2">
    <label class="block text-sm pb-1">TeamBoard&nbsp;<span class="asterik">*</span></label>
    <p-dropdown [options]="customFieldsDrpdwnValues" [(ngModel)]="selectedCustomField" optionLabel="name" ></p-dropdown>

  </div>
  <div class="flex flex-column w-4 pb-2">
    <label class="block text-sm pb-1">Story Points&nbsp;<span class="asterik">*</span></label>
    <p-dropdown [options]="customFieldsDrpdwnValues" [(ngModel)]="selectedCustomField" optionLabel="name"></p-dropdown>

  </div>


  <p-button label="Submit"></p-button>

</div> -->

<div class="card mt-5 border-round-md">
  <h3 class="text-center">Configure Project Source</h3>
  <div class="flex justify-content-center mt-5">
    <p-stepper [linear]="true">
      <p-stepperPanel header="Project Source Details">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column w-full pb-2 m-2">
            <label class="block text-sm pb-1">Source URL&nbsp;<span class="asterik">*</span></label>
            <input type="text" [(ngModel)]="sourceCredentials.sourceURL" pInputText required [disabled]="isSourceConfigured"/>
          </div>
          <div class="flex flex-column w-full pb-2 m-2">
            <label class="block text-sm pb-1">User Email&nbsp;<span class="asterik">*</span></label>
            <input type="text" [(ngModel)]="sourceCredentials.sourceUserEmail" pInputText required [disabled]="isSourceConfigured"/>
          </div>
          <div class="flex flex-column w-full pb-2 m-2">
            <label class="block text-sm pb-1">API Token&nbsp;<span class="asterik">*</span></label>
            <input [type]="isSourceConfigured ? 'password' : 'text'" [(ngModel)]="sourceCredentials.sourceAuthToken" pInputText required [disabled]="isSourceConfigured"/>
          </div>
          <div class="text-center m-2" *ngIf="!isSourceConfigured">
            <button pButton pRipple label="Submit Source Details" class="p-button-primary text-center"
              (click)="submitSourceDetails(nextCallback)"
              [disabled]="sourceCredentials.sourceAuthToken == '' || sourceCredentials.sourceURL == '' || sourceCredentials.sourceUserEmail == ''"></button>
          </div>

          <div class="flex pt-4 justify-content-end" *ngIf="isSourceConfigured">
            <p-button label="Projects & Custom Fields" icon="pi pi-arrow-right" (onClick)="nextCallback.emit()" />
          </div>

        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Project and Custom fields">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
          let-index="index">
          <div class="flex flex-column w-full pb-2 m-2">
            <label class="block text-sm pb-1">Select Project&nbsp;<span class="asterik">*</span></label>

            <p-dropdown [options]="sourceFields.sourceProjects" [(ngModel)]="sourceFields.userProject" emptyMessage="No source projects found"
              placeholder="Source project" optionLabel="name" autoWidth="false" [style]="{'width':'100%'}">
            </p-dropdown>

            <label class="block text-sm pb-1 mt-4">Select Story Points Custom Field</label>
            <p-dropdown [options]="filterCustomFields(sourceFields.sourceCustomFields, sourceFields.teamBoardCustomField)" [(ngModel)]="sourceFields.storyPointsCustomField" emptyMessage="No custom fields found"
            placeholder="Story Points Custom Field" optionLabel="customFieldKey" autoWidth="false" [style]="{'width':'100%'}">
            </p-dropdown>

            <label class="block text-sm pb-1 mt-4">Select Team Board Custom Field</label>
            <p-dropdown [options]="filterCustomFields(sourceFields.sourceCustomFields, sourceFields.storyPointsCustomField)" [(ngModel)]="sourceFields.teamBoardCustomField" emptyMessage="No custom fields found"
              placeholder="Teamboard Custom Field" optionLabel="customFieldKey" autoWidth="false" [style]="{'width':'100%'}">
            </p-dropdown>

          </div>
          <div class="flex pt-4 justify-content-between">
            <p-button label="Source Details" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
            <p-button label="Save Project & Custom Fields" (onClick)="submitSourceFields()" [disabled]="isSourceDetailsChanged()"/>
          </div>
        </ng-template>
      </p-stepperPanel>

    </p-stepper>

  </div>

</div>
