<div class="m-3"> 
  <h3>Issue Analysis</h3>
  
  <div class="shadow-3 cardDiv">
    <p-card >
      <div style="width: fit-content;">
        <h4>Analysis based on Time Spent and Story Points</h4>
        <hr>
      </div>
    
      <div *ngIf="issuesFetched" echarts [options]="chartOption"></div>
    </p-card>
  </div>

  <div class="shadow-3 cardDiv">
    <p-card >
      <div style="width: fit-content;">
        <h4>Analysis based on Story Points / Time Spent Ratio</h4>
        <hr>
      </div>
     
      <div *ngIf="issuesFetched" echarts [options]="chartOptionForRatio"></div>
    </p-card>
  </div>
  
  <div *ngIf="!issuesFetched">We are loading data. Please wait...</div>
</div>

